@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" id="welcome">
        <h1 id="dashboard-title">Dashboard</h1>
        <div id="frame-container">
            <div class="frame pull-left">
                <a class="frame-inner">
                    <span class="frame-title">Community</span>
                    <img src="~/Content/Images/HomePage/community1.png" class="frame-image" />
                </a>
            </div>


            <div class="frame">
                <a class="frame-inner">
                    <span class="frame-title">Performance</span>
                    <img src="~/Content/Images/HomePage/stats1.jpg" class="frame-image" />
                </a>
            </div>

            <div class="frame pull-right">
                <a class="frame-inner">
                    <span class="frame-title">Workouts</span>
                    <img src="~/Content/Images/HomePage/workouts1.png" class="frame-image" />
                </a>
            </div>
        </div>
        
        
    </div>

