@model List<GymDiaryCodeFirst.Models.ExerciseStats>

@{
    ViewBag.Title = "Details";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model)
            {
                <tr>
                    <td>
                        @exercise.Exercise.Name
                    </td>

                    <td>
                        @exercise.Reps
                    </td>
                    <td>
                        @exercise.Sets
                    </td>
                </tr>

            }
        </tbody>


    </table>

    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
    var data;
    $(document).ready(function () {
        $.ajax({
            url: "/api/graph/get",
            type: "Get",
            success: function (d) { data = d; console.log(d); }
        });
    
        
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: '# of Votes',
                    data: [data],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    });
</script>